* {
    font-family: "Roboto";
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}
html, body { 
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
    border: 1px dashed red; 
}

#header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    width: 100%;
    position: fixed;
    top: 0;
    gap: 7px;

}

#nav-bar {
    margin-left: auto;
}

#header-img {
    width: 70px;
    height: auto;
}

section:first-of-type {
    padding-top: 90px !important;
}


#video-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px auto;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

#contact > h2, #contact > form > input {
    margin: 7px;
} 

input[type='email'] {
    width: 16rem;
    height: 1.8rem;
    padding-left: 10px;
}
input[type='submit'] {
    background-color: #f5e01a;
    width: 7rem;
    padding: 5px 13px;
    font-weight: 700;
    font-size: 14px;
    text-justify: auto;
}


.icons {
    display: flex;
    width: 60px;
    margin: 0;
    left: 0;
}

.bio-div {
    width: 600px;
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    
}

.bio-div-in {
    display: block;
    align-items: center;
    margin-left: 40px;
}

#bio-section {
    padding: 20px;
    margin: 10px;
}

#product-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@media (max-width:800px) {
    #product-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
}


.product-div {
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: 350px;
    height: auto;
    text-align: center;
    background-color: aqua;
    line-height: 30px;
    border-radius: 4px;
    text-wrap: nowrap;
}
.divider > h2 {
    background-color: red;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 7px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul > li {
    list-style: none;
}

span {
    font-weight: 900;
    font-size: 19px;
}

input[type='button'] {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    background-color: #f5e01a;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
    width: 7rem;
    padding: 5px 13px;
    border: none;
    border-radius: 1px;
}

.divider {
    width: 100%;
    margin-bottom: 18px;
}